<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.yw.ffmpeg">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <application
        android:allowBackup="true"
        android:requestLegacyExternalStorage="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CJVMActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".FFmpegSimpleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".MediaCodecActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".GenerateMp4Activity" android:screenOrientation="portrait"/>
        <activity
            android:name=".OpenGlEsPlayerActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".OpenGlesDrawBitmapActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".OpenGlesDrawTriangleActivity" android:screenOrientation="portrait"/>
        <activity
            android:name=".SimpleTriangleActivity" android:screenOrientation="portrait"
            android:label="使用opengles渲染一个简单的三角形"/>
        <activity android:name=".EGLSimpleActivity" android:label="EGl小案例"/>
    </application>

</manifest>